<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/select2.min.js"></script>
    <script src="../static/js/d3.min.js"></script>
    <script src="../static/js/sankey.js"></script>
    <title>BitCrumbs</title>  
  </head>
  <body>
    <!--<h1>BitCrumbs</h1>-->
    <div class="wrapper">
      <select class="address_input" id="address_input_box"></select>
      <div id="information">
        <ul>
          <li class="col-md-8">
            <label>Address</label>
            <span class="dynamic-content" id="address"></span>
          </li>
          <li class="col-md-4">
            <label>Value</label>
            <span class="dynamic-content" id="value"></span>
          </li>
          <li class="col-md-8">
            <label>Transaction Hash</label>
            <span class="dynamic-content" id="transaction_hash"></span>
          </li>
          <li class="col-md-4">
            <label>Taint</label>
            <span class="dynamic-content" id="taint"></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sankey Diagram -->
    <div id="chart"></div>
    <script src="../static/js/default.js"></script>
  </body>
</html>